<section id="about">
  <h1 class="title">About me</h1>
  <div class="content-container">
    <div class="information">
        <p>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, Lorem ipsum dolor
          sit amet, consetetur sadipscing elitr,
        </p>
        <p>
          sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
          erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing
          elitr,
        </p>
        <p>
          At vero eos et accusam et justo duo dolores et ea rebum. sed diam nonumy
          eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
          voluptua.
        </p>
      </div>
      
  </div>
</section>
