<section id="about">
  <h1 class="title">About me</h1>
  <div class="content-container">
    <div class="information">
      <p>
        I'm a passionate software developer specializing in
        full-stack web development. With a love for solving complex problems, I
        thrive on creating intuitive and efficient web applications that make
        users' lives easier.
      </p>
      <p>
        I started my coding journey by building my first website in high school,
        and since then, I've been hooked on web technologies. These days, I
        primarily work with TypeScript, Angular, and Java, but I'm always
        curious about new languages and frameworks.
      </p>
    </div>
  </div>
</section>
