<section id="projects">
  <h1 class="headline">My Projects</h1>
  <div class="carussel-container">
    <div class="carussel">
      <img src="assets/arrow_left.svg" class="button" alt="" />
      <img
        src="assets/placeholder.png"
        alt="placeholder"
        class="project-picture"
      />
      <img src="assets/arrow_right.svg" class="button" alt="" />
    </div>
    <div class="caption">
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
      eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
      voluptua.
    </div>
  </div>
</section>
