<section id="contact">
  <h1 class="headline">Get in touch with me!</h1>
  <div class="socials">
    <a href="https://github.com/Lars-Klinkenberg" target="_blank">
      <img class="social-icon" src="assets/github-mark.png" alt="github" />
    </a>
    <a
      href="https://www.linkedin.com/in/lars-klinkenberg-62a044167"
      target="_blank"
    >
      <img class="social-icon" src="assets/linkedin_logo.png" alt="linkedIn" />
    </a>
    <a href="mailto:lars@klinkenberg.dev">
      <img class="social-icon" src="assets/email.png" alt="email" />
    </a>
  </div>
</section>
