@import "../../mixin.scss";


#contact {
    padding-inline: 10%;

    .headline {
        @include fluid-type(320px, 2000px, 50px, 150px);
        max-width: 50%;
        margin: 0;
    }

    .socials {
        .social-icon {
            height: 100px;
            margin: 20px;
        }
    }
}