.page-index {
    width: 10%;

    .index-container {
        .index {
            width: 30px;
            height: 30px;
            margin: 10px;
            margin-left: auto;
            border-radius: 50%;
            background-color: darkgrey;

            &.active {
                background-color: grey;
            }
        }
    }
}