.page-index {
    .index-container {
        .index {
            width: 30px;
            height: 30px;
            margin: 10px;
            border-radius: 50%;
            background-color: darkgrey;
            cursor: pointer;

            &.active {
                background-color: grey;
            }
        }
    }

    &.dark {
        .index-container {
            .index {
                background-color: white;

                &.active {
                    background-color: grey;
                }
            }
        }
    }
}